<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
	</head>
	<body>
		<div th:fragment="navbar">
			<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
				<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Laura Auto Peças</a>
			</nav>
			<div class="container-fluid">
				<div class="row">
					<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					 <div class="sidebar-sticky">
					 	<ul class="nav flex-column">
					 		<li class="nav-item">
					 			<a class="nav-link" href="#"><span data-feather="shopping-bag"></span>Ordem de Compra</a>
					 		</li>
					 		<li class="nav-item">
					 			<a class="nav-link" href="/produto"><span data-feather="shopping-cart"></span><span class="nav-link-text">Produtos</span></a>
					 		</li>
					 		<li class="nav-item">
					 			<a class="nav-link" href="#"><span data-feather="users"></span>Fornecedor</a>
					 		</li>
					 		<li class="nav-item">
					 			<a class="nav-link" href="#"><span data-feather="user"></span>Representante</a>
					 		</li>
					 		<li class="nav-item">
					 			<a class="nav-link" href="#"><span data-feather="truck"></span>Local</a>
					 		</li>
					 	</ul>
					 </div>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>